include maps

mixin character-info()
  table.cell#character-info
    tr
      each label, id in characterInfoFields
        th.left= label
    tr
      each label, id in characterInfoFields
        td(id=id).value= '{value}'