-
  var characterInfoFields = {
    'player-name': 'Player Name',
    'player-name': 'Player Name',
    'character-name': 'Character Name',
    'class': 'Class',
    'level': 'Level',
    'race': 'Race',
    'background': 'Background',
    'alignment': 'Alignment',
    'experience-points': 'Experience Points'
  }

  var abilityScores = {
    'strength': 'Strength',
    'dexterity': 'Dexterity',
    'constitution': 'Constitution',
    'intelligence': 'Intelligence',
    'wisdom': 'Wisdom',
    'charisma': 'Charisma'
  }

  var skills = {
    'acrobatics': 'Acrobatics (Dex)',
    'animal-handling': 'Animal Handling (Wis)',
    'arcana': 'Arcana (Int)',
    'athletics': 'Athletics (Str)',
    'deception': 'Deception (Cha)',
    'history': 'History (Int)',
    'insight': 'Insight (Wis)',
    'intimidation': 'Intimidation (Cha)',
    'investigation': 'Investigation (Int)',
    'medicine': 'Medicine (Wis)',
    'nature': 'Nature (Int)',
    'perception': 'Perception (Wis)',
    'performance': 'Performance (Cha)',
    'persuasion': 'Persuasion (Cha)',
    'religion': 'Religion (Int)',
    'sleight-of-hand': 'Sleight of Hand (Dex)',
    'stealth': 'Stealth (Dex)',
    'survival': 'Survival (Wis)'
  }

  var proficiencies = {
    'languages': 'Languages',
    'armor': 'Armor',
    'weapons': 'Weapons',
    'tools': 'Tools'
  }