include includes/all

html
  head
    style
      include includes/style.css
  body 
    table
      tr
        td(colspan=3)
          .wrapper
            +character-info()
      tr
        td(colspan=3)
          +ability-scores()
      tr
        td(colspan=3)
          table
            tr
              td
                .wrapper
                  +stat('armor-class', 'Armor Class')
              td
                .wrapper
                  +stat('initiative', 'Initiative')
              td
                .wrapper
                  +stat('speed', 'Speed')
              td
                .wrapper
                  +stat('max-hp', 'Max HP')
              td
                .wrapper
                  +stat('cur-hp', 'HP')
              td
                .wrapper
                  +stat('temp-hp', 'Temp HP')
              td
                .wrapper
                  +stat('max-hit-dice', 'Max Hit Dice')
              td
                .wrapper
                  +stat('cur-hit-dice', 'Hit Dice')
              td
                .wrapper
                  +stat('death-saves', 'death-saves')
      tr
        td
          table
            tr
              td
                .wrapper
                  +table-cell('inspiration', 'Inspiration')
            tr
              td
                .wrapper
                  +table-cell('proficiency-bonus', 'Proficiency Bonus')
            tr
              td
                .wrapper
                  +saving-throws()
            tr
              td
                .wrapper
                  +skills()
            tr
              td
                .wrapper
                  +table-cell('passive-wisdom', 'Passive Wisdom (Perception)')
            tr
              td
                .wrapper
                  +proficiencies()
        td
          table
            tr
              td(colspan=3)
                .wrapper
                  +attacks()
            tr
              td(colspan=3)
                .wrapper
                  +equipment()
        td
          table
            tr
              td
                .wrapper
                  +personality-item('personality-traits', 'Personality Traits')
            tr
              td
                .wrapper
                  +personality-item('ideals', 'Ideals')
            tr
              td
                .wrapper
                  +personality-item('bonds', 'Bonds')
            tr
              td
                .wrapper
                  +personality-item('flaws', 'Flaws')
            tr
              td
                .wrapper
                  +features-traits()
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js')
    script
      include includes/main.js